.container {
  text-align: center;
  margin-top: 20px;
}

table {
  margin: auto;
}

input {
  border-radius: 21px;
  border: 5px solid #244624;
  font-size: 34px;
  height: 65px;
  width: 456px;
}

button {
  border-radius: 20px;
  font-size: 40px;
  background-color: rgb(187, 155, 250);
  width: 102px;
  height: 78px;
  margin: 6px;
}

button:hover {
  background-color: rgb(126, 71, 179);
}
.calculator {
  background-color: rgba(241, 232, 232, 0.856);
  padding: 23px;
  border-radius: 53px;
  display: inline-block;
  border: 5px solid #244624;
}
